# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

/node_modules
/dist
/Blog-Preview-Card/blog-preview-card-figma
/QR-Code-Component/qr-code-component-main
/QR-Code-Component/qr-code-component-figma
/Blog-Preview-Card/blog-preview-card-main
/Social-Links-Profile/social-links-profile-main
/Recipe-Page/recipe-page-main
/Product-Preview-Card-Component/product-preview-card-component-main
/Four-Card-Feature-Section/four-card-feature-section-master
/Testimonials-Grid-Section/testimonials-grid-section-main
/Article-Preview-Component/article-preview-component-master
/Newsletter-sign-up-form-with-success-message/newsletter-sign-up-with-success-message-main
/Time-Tracking-Dashboard-Main/time-tracking-dashboard-main
/Tip-Calculator-App/tip-calculator-app-main
/Interactive-Rating-Component/interactive-rating-component-main
/Faq-accordion/faq-accordion-main
/Contact-Form/contact-form-main
/Ecommerce-Product-Page/ecommerce-product-page-main
/News-Homepage/news-homepage-main