body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3e5d8;
  margin: 0;
  text-align: left;
  font-size: 16.3px;
  font-family: "Outfit", sans-serif;
  transition: all 1s ease;
}

.content {
  width: 100%;
  max-width: 720px;
  background-color: white;
  transition: all 1s ease;
}
.recipe-image {
  width: 100%;
  max-width: 720px;
  height: auto;
  border-radius: 8px;
  transition: all 1s ease;
}

.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 700;
  font-size: 40px;
  color: #302d2c;
  padding: 25px 25px 10px 25px;
}

.recipe-description {
  font-weight: 500;
  color: #5f574e;
  padding: 20px 25px 40px 30px;
}

.recipe-preparation-container {
  background-color: #fff7fc;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.recipe-preparation-title {
  color: #7b284f;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 20px 0px 50px;
}

.recipe-preparation {
  padding-left: 40px;
}

.recipe-preparation li {
  padding-left: 10px;
  padding-bottom: 12px;
}

.bold-brown {
  color: #5f574e;
  font-weight: bold;
}

.recipe-subtitle {
  font-family: "Young Serif", serif;
  color: #854632;
  padding: 25px 25px 8px 30px;
  font-size: 35px;
  font-weight: 550;
}

.recipe-list {
  font-weight: 400;
  color: #5f574e;
  border-bottom: #ededed 3px solid;
  margin-left: 30px;
  margin-right: 30px;
}

.recipe-list li {
  padding-left: 15px;
  padding-bottom: 12px;
}

.recipe-nutrition-table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 100px;
}

.recipe-nutrition {
  border-bottom: 3px solid #ededed;
}

.recipe-nutrition td {
  font-weight: 600;
  color: #5f574e;
  padding: 10px 100px;
}

.recipe-nutrition td.recipe-nutrition-values {
  color: rgb(148, 86, 69);
  font-weight: bolder;
}

@media (min-width: 1000px) {
  body{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .content {
    width: 100%;
    max-width: 720px;
    background-color: white;
    border-radius: 30px;
  }

  .recipe-image {
    width: 620px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
